<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        .container { padding: 20px; background-color: #f9f9f9; }
        .header { background-color: #4CAF50; color: white; padding: 10px; text-align: center; }
        .content { margin-top: 20px; }
    </style>
</head>
<body>
    <div class="container">
        <!-- <div class="header">
            <h2>Hello {{ name }}!</h2>
        </div> -->
        <img  src="https://biz.prlog.org/SeekhoDigitalindia/logo.png" alt="logo"/>
        <div class="content">
            <h2>Hello {{ otp }}!</h2>
            <p>We are received your message:</p>
  
            <p>We will get back to you soon!</p>
        </div>
    </div>
</body>
</html>
